$headColor:#e5eef0;
$grayTextCol:#93a1a7;
$buttonColor:#29c2e1;
$grayBackground:#8d8d8d;
$whiteText:#ffffff;
$orangeColor:#f7941d;
$darkcolorText:#23282f;
$inputsColor:#23282f;
$fontFam:"Times New Roman";

//header part


.container-fluid{

}
.row{
	width:1140px;
}

.header{
	background-color:$headColor;
	height:50px;
		div{
			height: 50px;
			color:$grayTextCol;
			line-height:40px;
			font-size:13px;
			//padding:0px;
			&:nth-child(2){
				border-right: 1px solid #d8e3e6;

			}

			&:hover{
				color:$buttonColor;
			}
		}
}

.menu{
	padding:21px 0 21px 0;
	background-color:yellow;

	ul{
		margin-top:5px;
		float:right;
		li{	

			font-family:$fontFam; 
			font-size:14.5px;
			margin-left:35px;
			a{
			color:$grayTextCol;

			}
			.bold{

				color:$darkcolorText;
				}
				
		}
	}
	
}
		.blue a{
				padding:15px 28px 15px 28px;
				color:$whiteText !important;
				border-radius:30px;
				text-align: center;
				background-color:$buttonColor;
			}


//contact us part
.textfamtran{
	font-family:$fontFam;
	text-transform: uppercase;
}

.contact{
	
		//width:1970px;//obrazuetsya scroll
		height:310px;
		background-color:$grayBackground;
	p{	
		@extend.textfamtran;
		color:$whiteText;
		margin-top:12%;
		font-size: 48px;
		line-height:20px;
		

		span{
			
			font-size:14px;
		}
	}
	
} 

//OUR LOCATION PART

.main{
	p{
	 @extend.textfamtran;
	 color:$darkcolorText;
	 font-size:30px;
	 margin-top:85px;
	 line-height:20px;
	 	span{
	 	 @extend.textfamtran;
	 	 font-size:18px;

	 	}
	}
	.map{
		
		width:1140px;
		height: 417px;
		background-color:$grayBackground;
		text-align:center;
		
		i{
			color:$orangeColor;
			margin-left:20px;
		}
		p{	
			@extend.textfamtran;
			font-size:30px;
			line-height:30px;
			color:$whiteText;
			margin-top: 170px;

		}
	}
	.ikons{
		height:303px;
		
		.sircle{
			width:62px;
			height:62px;
			border:2px solid $buttonColor;
			border-radius:50%;
			//text-align:center;
			margin-top: 75px;
			margin-left:145px;
			text-align: center;
			padding:5px;
		}
		.ikons-text{
			@extend.textfamtran;
			font-size:16px;
			margin-top: 20px;

		}
	}
}


