
$buttonColor:#29c2e1;
$colorImag:#8d8d8d;
$grayText:#99a7ac;
$borderCol:#e5eef0;
$fontFam:"Times New Roman";
$blackTectCol:#23282f;

body{
	weight:1170px;


}
.container{
	width:1170px;
	padding:0 15 0 15px;


}

#header{
	background-color:$borderCol;

	.row{
		height:50px;
		div{
			height: 50px;
			color:$grayText;
			line-height:40px;
			font-size:13px;

			&:nth-child(2){
				border-right: 1px solid #d8e3e6;
				padding-left:40px;

			}
			&:hover{
				color:$buttonColor;
			}
		}
	}

}

#menu{
	padding-top:20px;
	padding-bottom:23px;


	.leftMargin{
	//	margin-left: 10px !important;
			ul{
				float:right;
			}
			font-size:14px;
			
			border-style: hidden;//!
			.bold{
				font-weight: bold;
				color:$blackTectCol;


			}

			.blue a{
				width:140px;
				color: white;
				border-radius:30px;
				background-color:$buttonColor;
				text-align: center;


			}
	}

	a{
		border-style:hidden;
		color:#a1aeb3;
		&:hover{
			color:darken(#a1aeb3,50%);

		}
	}

}


//we started footer
#end{

	height:107px;
	border:1px solid red;
	line-height:50px;
	color:$grayText;
	text-size:14px;
	text-transform:uppercase;

}




#footer{
	font-family:$fontFam;
	padding-top:72px;
	height:320px;
	border-top: 1px solid red;
	col-md-2 .img{
		float:left;
	}
	img{
		margin-top:5px;

	}


.input-group {

	span{
		background-color:$buttonColor;
		color:white;
	}

}
li{
	i{
		color:$grayText;
		margin-right: 10px;
		&:hover{
			color:$buttonColor;
		}
	}

	p{
		color:#23282f;
		font-size:18px;
	}
a {

	color:$grayText;
	padding-left:0px;
	&:hover{
		background-color:white;
		color:$buttonColor;
	}
}
}
.blog{
	ul{
		margin-top: 30px;
	}
}

}

//"Leave comment part"

#leaveCom{
	border:1px solid $borderCol;
	height:602px;

	p{
		color:$blackTectCol;
		font-size:24px;//ne rabotayet ?
		margin-top: 100px;
	}
//we start inputs

input{

	height:48px;
	width:404px;
	display:inline-block;
	margin-right:12px;
	margin-bottom:16px;
	border-radius:0;
	padding-left:28px;
	background-color:$borderCol;
	border:1px solid $borderCol;

}
.coment{
	width:822px;
	height:160px;
	padding-left:28px;

}
button{
	width:140px;
	height:40px;
	border-radius:20px;
	background-color:$buttonColor;
	color:white;
	font-size:14.5px;
	margin-top:20px;

}
}

//8 Comments

#comment8 {

	height:803px;

	.row{
		margin-top: 72px;
		.text-left{

			font-weight: bold;
			font-size:24px;
			margin-bottom: 41px;

		}
		.another{
			margin-left:98px;
		}
		.media{

			margin-bottom: 100px;
			.media-heading{
				font-weight: bold;
				font-size: 15px;
				span{
					float:right;
					color:orange;
					&:hover{
						color:$buttonColor;
					}
				}
			}

		}
	}
	img{
		height: 68px;
		width: 68px;
		background-color:gray;
		border-radius:50px;
		margin-right:30px;
	}
}

// midle section
#midle{

	height:1320px;
	background-color:pink;
	.first{
		margin-top:100px;
	.image{
		height: 334px;
		weight:828px;
		background-color:$colorImag;
		color: white;
		text-align:center;
		font-size:14px;
	}
.input-group{

	input{
		width:225px;
		height:44px;

	}

	}
.kategoriya{
	margin-top: 50px;
	i{
		float:right	;
	}
}}

	.third{
		width:848px;
		height:192px;
		background-color:#e3eef0;
		margin-bottom:50px;
		img{
			width:122px;
			height: 122px;
			background-color:#8d8d8d;
			margin-top:35px;
		}
	}
}

#post{


	background-color:$colorImag;
	height: 310px;


}
